@charset "utf-8";
/* CSS Document */

#header-social {
  background-color: #222222;
  padding-top: 10px;
}

#header-social p {
  color: #ccc;
  font-family:'Raleway', sans-serif;
}

#email {
  color: #fff;
}
