.navbar-nav li {
    position: relative
}
.navbar-nav li:not(:last-child):after {
    content: '';
    position: absolute;
    right: -2px;
    width:2px;
    height: 80%;
    top: 10%;
    background: #0099CC;
}

.tales {
  width: 100%;
}

.carousel-inner{
  max-height: 450px !important;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

::-webkit-input-placeholder {
   text-align: center;
}
